<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,300,0,0" />
<h1>Liste des Salaires </h1>
<table>
    <thead>
        <tr>
            <th>Matricule</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Département</th>
            <th>Poste</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>001</td>
            <td>Doe</td>
            <td>John</td>
            <td>IT</td>
            <td>Manager</td>
            <td>
    
                <button ><span class="material-symbols-outlined">credit_score</span></button>

            </td>
        </tr>
       
    </tbody>
</table>

