<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,300,0,0" />



  <div class="topnav" [class.visible]="isMenuVisible">
    <div class="personnel_button">
      <button (click)="toggleMenu()"> <span class="material-symbols-outlined">menu</span> <span class="material-symbols-outlined">apartment</span></button>
    </div>
    <div *ngIf="isMenuVisible" class="menu-items">
      <button [routerLink]="['/adddepartement']">Ajout de Département</button>
      <button [routerLink]="['/lisperdep']">Liste du Personnel</button>

        <button type="submit" class="button__submit">Logout </button>
    </div>
    
  </div>
  