<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,300,0,0" />
<h1>Liste du personnel du département</h1>
<table>
    <thead>
        <tr>
            <th>Matricule</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Date de naissance</th>
            <th>Adresse</th>
            <th>Email</th>
            <th>Mot de passe</th>
            <th>Numéro Tél</th>
            <th>Statut Familiale</th>
            <th>Poste</th>
            <th>Date d'embauche</th>
            <th>Type de contrat</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>001</td>
            <td>Doe</td>
            <td>John</td>
            <td>01/01/1990</td>
            <td>123 Rue de la Liberté</td>
            <td>john.com</td>
            <td>********</td>
            <td>0123456789</td>
            <td>Célibataire</td>
            <td>Manager</td>
            <td>01/01/2020</td>
            <td>CDI</td>
        </tr>
        <tr>
            <td>001</td>
            <td>Doe</td>
            <td>John</td>
            <td>01/01/1990</td>
            <td>123 Rue de la Liberté</td>
            <td>john.com</td>
            <td>********</td>
            <td>0123456789</td>
            <td>Célibataire</td>
            <td>Manager</td>
            <td>01/01/2020</td>
            <td>CDI</td>
            
        </tr>


    </tbody>
</table>

