<h1>Liste du Congé </h1>
<table>
    <thead>
      <tr>
        <th>Matricule</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Date Début</th>
        <th>Date Fin</th>
        <th>Valider Congé</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <label class="toggle-container">
            <input type="checkbox" name="validerConge" value="oui">
            <span class="slider invalid"></span>
          </label>
        </td>
      </tr>
      <tr>
        
        <td>002</td>
        <td>Smith</td>
        <td>Jane</td>
        <td>03/05/2024</td>
        <td>07/05/2024</td>
        <td>
          <label class="toggle-container">
            <input type="checkbox" name="validerConge" value="oui">
            <span class="slider invalid"></span>
          </label>
        </td>
      </tr>
      <tr>
        <td>003</td>
        <td>Ben Salah</td>
        <td>Ahmed</td>
        <td>06/05/2024</td>
        <td>10/05/2024</td>
        <td>
          <label class="toggle-container">
            <input type="checkbox" name="validerConge" value="oui">
            <span class="slider invalid"></span>
          </label>
        </td>
      </tr>
      <tr>
        <td>004</td>
        <td>Mzoughi</td>
        <td>Sarah</td>
        <td>08/05/2024</td>
        <td>12/05/2024</td>
        <td>
          <label class="toggle-container">
            <input type="checkbox" name="validerConge" value="oui">
            <span class="slider invalid"></span>
          </label>
          
        </td>
      </tr>
      <tr>
        <td>005</td>
        <td>Sassi</td>
        <td>Mohamed</td>
        <td>10/05/2024</td>
        <td>14/05/2024</td>
        <td>
          <label class="toggle-container">
            <input type="checkbox" name="validerConge" value="oui">
            <span class="slider invalid"></span>
          </label>
        </td>
      </tr>
    </tbody>
  </table>